# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
.DS_Store

# Build
dist
dist-ssr
release
test-entry
*.zip

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Env
*.local

.md